* {
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 246, 250);
}

/* foto */
.photo {
        width: 100px;
        height: 100px;
        background-image: url(../immagini/IMG_5458\ Piccola.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0px;
        margin-bottom: 10px;
        padding: 30px;
        /*margin: 10px; */
        border-width: 690px;
        border: dotted 2px rgb(218, 237, 240);
        border-radius: 5px;
        float: right;
        clear: none;
        margin-top: 0px;    
        
} /* fine foto */

.underline{
    color:rgb(218, 237, 240);
    border: dotted 1px;
}
.table{
width: 100%;
}
.header {
    color: rgb(38, 3, 126);
    font-family: 'Poppins', sans-serif;
    height: 30px;
    text-decoration: underline dotted rgb(218, 237, 240);
    font-style: italic;
}
.h3{
    text-decoration: underline dotted rgb(218, 237, 240);
}
.text{
    text-transform: uppercase;
}
.text1{
    text-align: left;
}


table thead tr th{
    border: 3px solid black;
    padding: 5px;
    margin: auto;
}
table thead tr td {
    border: 3px solid black;
    padding: 5px;
    margin: auto;
}

tbody tr td {
    border: 3px solid black;
    padding: 5px;
    margin: auto;
}

tfoot tr td {
    border: 3px solid black;
    padding: 5px;
    margin: auto;
}

/* coloro la tabella*/
.table{
    
    border: 2px solid black;
    border-collapse: collapse;
    background: rgb(218, 237, 240);
}
.color{
    background: rgb(137, 228, 243);
}
/* fine */

.titolo {
    text-transform: uppercase;
}

.inlink {
    color: #00f;
    text-decoration: underline;
}

.inlink:visited {
    color: #005;
    text-decoration: underline;
}

.inlink:hover {
    color: darkcyan;
    text-decoration: none;
}

.skills {
    list-style-type: square;
}

.achievements {
    list-style-type: decimal;
}

